@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}
.gradient-anim {
    background: linear-gradient(270deg, #fbcfe8, rgb(210, 78, 124), #fbcfe8, #fa81a3);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
}

.gradient-anim-2{
    background: linear-gradient(150deg, #fbcfe8, #ffd2df, rgb(210, 78, 124), #ffd2df);
    background-size: 200% 200%;
    animation: gradient-animation 7s ease infinite;
}

.gradient-anim-3{
    background: linear-gradient(70deg, #f9cbd9, #f7bbcc, #ffd2df,rgb(228, 88, 137));
    background-size: 200% 200%;
    animation: gradient-animation 8s ease infinite;
}
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
   

  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: translate(-40%, -50%) scale(0.1);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
  }
  
  .image-animation {
    animation: fadeInScale 2.5s ease forwards;
    animation-delay: 0.3s; /* Optional delay to start the animation */
  }
  
  
  
